# 开启全局链式调用
config.stopBubbling = true
lombok.tostring.callsuper=CALL
lombok.equalsandhashcode.callsuper=CALL
lombok.accessors.chain=true

# 开启全局 builder
# 项目严禁开启: 会导致
      #Spring 无法反射创建对象
      #MyBatis 无法注入实体
      #Spring MVC 参数绑定失败
#lombok.data.extras=BUILDER
#lombok.builder.classname=Builder
#lombok.builder.tobuilder=true
#lombok.anyconstructor.addconstructorproperties=true